.wrapper {
  background-color: rgb(12, 12, 12);
  min-height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.imageContainer {
  margin-top: 1.125rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  width: 100%;
}

.image {
  height: 124px;
  width: 165.5px;
  border-radius: 5px;
  box-shadow: 0 0 15px purple;
}
