.wrapper {
  background-color: rgb(12, 12, 12);
  min-height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.imageContainer {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(165.6px, 165.5px));
  grid-gap: 1rem;
  width: 100%;
  margin: 1rem 1.25rem;
}

@media screen and (min-width: 800px) {
  .imageContainer {
    grid-template-columns: repeat(auto-fit, minmax(331px, 331px));
    justify-content: center;
  }
}
